{
    "SYSApp": {
        "status": "0",
        "debug": "0",
        "title": "IFPrints",
        "hostname": "",
        "locale": "pt-br",
        "bootstraps": "",
        "date_time_format": "D, M d Y H:i:s",
        "force_https": "0",
        "descrition": "",
        "auth": "0"
    },
    "AD": {
      "conect": "1",
      "ldap_host": "192.168.1.1",
      "ldap_port": "389",
      "base_dn": "OU=XX,DC=xxx,DC=br",
      "ldap_user": "userAD",
      "ldap_pass": "passwordAD",
      "suffix": "@sysprint.br",
      "attr": "name,displayname,mail,mobile,homephone,telephonenumber,streetaddress,postalcode,physicaldeliveryofficename,l,group,thumbnailphoto,memberof",
      "filter": "&(objectClass=user)"
    },
    "EMAIL": {
        "email_notification": "0",
        "transport": "Smtp",
        "title": "SYSPrint",
        "from": "marco.aq7@gmail.com",
        "host": "ssl:\\\/\\\/smtp.gmail.com",
        "port": "465",
        "timeout": "30",
        "username": "marco.aq7@gmail.com",
        "password": "",
        "log": "",
        "charset": "",
        "headerCharset": ""
    },
    "DATA": {
        "datasource": "Database\/Mysql",
        "host": "localhost",
        "login": "root",
        "password": "",
        "database": "sysprints",
        "persistent": "als",
        "prefix": "",
        "encoding": "utf8"
    },
    "Server": {
        "hostname": "",
        "resolv_conf": ""
    },
    "Network": {
        "DEFROUTE": "0",
        "ONBOOT": "0",
        "TYPE": "Ethernet",
        "DEVICE": "",
        "NAME": "",
        "IPADDR": "",
        "NETMASK": "",
        "GATEWAY": ""
    }
}
