#!/bin/bash

source /opt/print/class/BDClass.sh

## 
# FUNCTIONS
##

function allow () {
	

	prints=$(echo "SELECT name AS '' FROM prints.printers" | $querySql);

	for print in $prints; do	
		
		users_deny=$(echo "SELECT username AS '' FROM prints.users WHERE status=0" | $querySql);
		users_deny=$(echo $users_deny | sed "s/ /,/g");
		if [[ $users_deny ]]; then

			# users_allow=$(echo "SELECT username AS '' FROM prints.users WHERE status=1" | $querySql);
			# users_allow=$(echo $users_allow | sed "s/ /,/");
			lpadmin -p $print -u allow:all;
			# lpadmin -p $print -u allow:$users_allow;
			# echo "lpadmin -p $print -u allow:$users_allow";
			# lpadmin -p $print -u deny:all
			lpadmin -p $print -u deny:$users_deny
			echo "lpadmin -p $print -u deny:$users_deny";			

		fi	

	done

	# cat /opt/print/allow_users | grep "^[0-9;a-z;A-Z]" | tr "\n" ",";
	# echo users_allow;
}

allow
# exit 0;